body {
  background-color:#ccc;
  font-family: 'Open Sans', serif;
}

section{
  display: block;
  border-top: 5px solid #dc0025;
  padding: 20px;
  background-color: #fff;
  margin: 10px auto;
  width: 800px;
  height: 510px;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,.25)
}

#left {
  margin: 0;
  padding: 0;
  width: 250px;
  position: absolute;
}

#title {
  border-bottom: 1px solid #ddd;
}

#title h3{
  color: #555;
}
#right {
  margin: 0px 0px 0px 290px;
}

#maze-info {
  width: 500px;
  height: 120px;
  margin: 10px auto;
  text-align: center
}

#maze-canvas{
  display: block;
  border:1px solid #000;
  margin: 10px auto;
}

#maze-svg-container {
  padding: 5px;
  width: 500px;
  height: 500px;
  border: none;
  background-color: #000;
}

#arrow-msg, #congrats-msg, #give-up, #maze-svg-container, #keep-trying, #another {
  display:none;
}

h1, h3, p{
  margin: 2px 0;
  padding: 0;
}

#intro, #arrow-msg, #keep-trying {
  margin: 30px 0;
}

button {
  padding: 5px;
  border-radius: 2px;
  border: 2px solid #f00;
  background-color: #f22;
  color: #fff;
  width: 130px;
}

button:hover {
  color: #000;
  font-weight: bold;
  background-color: #f44;
}

#message-area {
  height: 80px;
}