body {
  background-color:#ccc;
}

section{
  border-top: 5px solid #dc0025;
  background-color:#fff;
  margin: 10px auto;
  width: 80%;
  min-width: 500px;
  height: 80%;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,.25)
}

#maze-info {
  width: 500px;
  height: 120px;
  margin: 10px auto;
  text-align: center
}

#maze-canvas{
  display: block;
  border:1px solid #000;
  margin: 10px auto;
}

#maze-svg-container {
  padding: 5px;
  width: 500px;
  height: 500px;
  border: none;
  background-color: #000;
  margin: 10px auto;
}

#arrow-msg, #congrats-msg, #give-up, #maze-svg-container, #keep-trying, #another {
  display:none;
}

h1, h3, p{
  margin: 2px;
  padding: 0;
}

#intro, #arrow-msg {
  margin: 10px;
}